@inherits LayoutComponentBase
@inject UserService UserService
@inject IHttpContextAccessor HttpContext
@using Microsoft.AspNetCore.Authorization
@inject ColaboradorService ColaboradorService

<div class="page">

    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
              
        <div class="top-row align-items-center px-4">
            <div class="col text-start">
                <h4 class="text-primary mb-0">Logado como: @nomeUsuario</h4>
                
            </div>
            <div class="col text-end">
                <h4 class="text-primary mb-0 d-inline"><img src="/title.png" alt="PYB CICS">PYB CICS - Sistema de Efetivações</h4>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>

            <div class="mt-5 text-center p-3 small" style="color: rgba(0,0,0,0.2);">
                Desenvolvido por <strong>UAC SAP</strong> | Versão 1.0 <strong>2026</strong>
            </div>

    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>


@code {
    private string nomeUsuario = string.Empty;

    protected override void OnInitialized()
    {
        nomeUsuario = ColaboradorService.ObterNomePorMatricula(UserService.UserNameSemDominio);
        
    }
    
}


